[project]
	description = Mini games at games.kter.ru
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Oleg Khavroshin (khoser)
[access "refs/for/refs/*"]
	read = group user/Oleg Khavroshin (khoser)
	push = group user/Oleg Khavroshin (khoser)
	label-Code-Review = -2..+2 group user/Oleg Khavroshin (khoser)
	label-Verified = -1..+1 group user/Oleg Khavroshin (khoser)
	rebase = group user/Oleg Khavroshin (khoser)
	removeReviewer = group user/Oleg Khavroshin (khoser)
	submit = group user/Oleg Khavroshin (khoser)
[access "refs/heads/*"]
	read = group user/Oleg Khavroshin (khoser)
	create = group user/Oleg Khavroshin (khoser)
	push = +force group user/Oleg Khavroshin (khoser)
	pushMerge = group user/Oleg Khavroshin (khoser)
[access "refs/tags/*"]
	push = +force group user/Oleg Khavroshin (khoser)
	pushTag = group user/Oleg Khavroshin (khoser)
	pushSignedTag = group user/Oleg Khavroshin (khoser)
[receive]
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
